*{ 
    font-size: 4.5rem;
    text-align: center;
    width: auto;
    height: auto;
}
section{
    width: 130rem;
    margin: 5rem;
}
.titulo{
    color: white;
    background-color: var(--color1);
    font-size: 7rem;
}
.glosario{
    color: white; 
    background-color: var(--color1);
}
.texto{
    color: #DC7F2F;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
}

.caja{
    font-size: 2.5rem;
    color: black;
}
.texto2{
    color: var(--color5);
    font-size: 3.5rem;
    margin-top: 2rem;
}

li{
    font-size: 2.5rem;
    text-align: left;
}
.titulo_table{
    font-size: 4rem;
}

.tabla_etiquetas{
        margin-top: 1.5rem;
}
.texto3{
    color: white;
    text-align: center;
    background-color: var(--color3);
    font-size: 3rem;
    margin-top: 2rem;
}

.etiquetas{
    width: auto;
    height: auto;
}

.gatito{
    width: 90rem;
    height: 30rem;

    margin: 1rem;
}

footer{
    color: white; 
    text-align: center;
    background-color: var(--color1);
}
.texto4{
    color: var(--color5);
    font-size: 3rem;
}
.table{
    margin: auto;
}
td{
    text-align: left;
    font-size: 2.5rem;
    color: white;
}
.css{
    width: 50rem;
    height: 10rem;
}