header{ 
    width: auto;
    height: 5rem;
    padding: 3rem 4rem 5.4rem 4rem;
    padding-top: 2.5rem;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #772e20;
    background-image: -webkit-linear-gradient(bottom right, #772e20 29%, #f2620f 100%);
    background-image: -o-linear-gradient(bottom right, #772e20 29%, #f2620f 100%);
    background-image: linear-gradient(to top left, #772e20 29%, #f2620f 100%);
    
}
.name{
    color: #fff;
    font-size: 3.5rem;
    
}

:root{
    --color1:#772E20;
    --color2:#DC7F2F;
    --color3:#304390;
    --color4:#1F1F1F;
    --color5:#F2620F;
}
.nav{
    list-style: none;
    width: 18rem;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.header_inicio{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.header_portafolio{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

