.titulo{ 
    font-size: 25px;
    margin: auto;
    width: auto;
    margin-top: 20px;
}

section{
    width: auto;
    margin: auto;
}
.glosario{
    font-size: 20px;
}
.texto{
    font-size: 15px;
}
.titulo_table{
    font-size: 18px;
}
.caja{
    font-size: 12px;
}
.texto2{
    font-size: 19px;
}
li{
    font-size: 14px;
}
.texto3{
    width: auto;
    margin-top: 15px;
    font-size: 15px;
}
.texto4{
    font-size: 17px;
}
td{
    font-size: 12px;
}
.etiquetas{
    width: 150px;
    height: 110px;
}
.css{
    width: 215px;
    height: auto;
}
.gatito{
    margin: auto;
    width: 200px;
    height: 100px;
    margin-top: 15px;
}
footer{
    margin: auto;
    font-size: 25px;
}
.text{
    font-size: 25px;
    padding-top: 20px;
}
.text2{
    font-size: 20px;
    padding-top: 15px;
}
.text3{
    font-size: 15px;
    padding-top: 10px;
}
.clasi{
    font-size: 30px;
    padding-top: 50px;
}
.caja2{
    width: auto;
    padding: auto;
}
.caja4{
    font-size: 10px;
}
.caja5{
    font-size: 11px;
    text-align: left;
    padding: auto;
}