.titulo{ 
    font-size: 25px;
    margin: auto;
    width: auto;
}

section{
    width: auto;
    margin: auto;
}
.glosario{
    font-size: 20px;
}
.texto{
    font-size: 15px;
}
.titulo_table{
    font-size: 18px;
}
.caja{
    font-size: 12px;
}
.texto2{
    font-size: 19px;
}
li{
    font-size: 14px;
}
.texto3{
    width: auto;
    margin-top: 15px;
    font-size: 15px;
}
.texto4{
    font-size: 17px;
}
td{
    font-size: 12px;
}
.etiquetas{
    width: 150px;
    height: 110px;
}
.css{
    width: 215px;
    height: auto;
}
.gatito{
    margin: auto;
    width: 200px;
    height: 100px;
    margin-top: 15px;
}
footer{
    margin: auto;
    font-size: 25px;
}